<button (click)="addProduct()" class="btn btn-success"> Add Product</button>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Image</th>
        <th>Food Name</th>
        <th>Food Details</th>
        <th>Food Price</th>
       </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of productData">
            <td>{{data.id}}</td>
            <td>
                <img [src]="data.foodImg" width="50px" height="50px" alt="">
            </td>
            <td>
                <h6>{{data.foodName}}</h6>
                
            </td>
            <td> {{data.foodDetails}}</td>
            <td> {{data.foodPrice | currency:"INR"}}</td>

            <td>
                <button class="btn btn-warning" (click)="edit(data.id)" ><i class="fa-solid fa-pen-to-square"></i></button>
            </td>

            <td>
                <button class="btn btn-danger"  (click) ="delete(data.id)" ><i class="fa-solid fa-trash"></i></button>
            </td>
        </tr>
    </tbody>


</table>