<form [formGroup]="addProductForm" (ngSubmit)="submitFun()">

    <div class="inp1">
        <label for="">Id</label>
        <input type="number" formControlName="id">
    </div> <br>
    <div class="inp2">
        <label for="">FoodName</label>
        <input type="text" formControlName="foodName">
    </div> <br>
    <div class="inp3">
        <label for="img">Image
            <img [src]="imgPath"  width="60px" height="60px">
        </label><br>
        <input type="file"  id="img" (change)="changeImage($event)">
    </div> <br>
    <div class="inp4">
        <label for="">FoodDetails</label>
        <input type="text" formControlName="foodDetails">

    </div> <br>
    <div class="inp5">
        <label for="">Price</label>
        <input type="number" formControlName="foodPrice">
    </div> <br>

    <button class="btn btn-primary">Submit</button>

</form>